body{
  background-color: #23B5D3;
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

.social img{
  border-radius: 50%;
  width: 150px;
}

.social .name{
  font-weight: 700;
}

.social .location{
  font-weight: 300;
}

.descriptions li {
  list-style: none;
}

a{
  text-decoration: none;
  color: #0B3954;
  font-weight: 700;
}

.descriptions .lists{
  display: inline-flex;
}

.descriptions .lists div{
  display: inline-block;
}
.descriptions .lists ul{
  margin-bottom: 0;
}

.frontEnd, .backEnd, .others, .language{
  max-width: max-content;
}